@using CodeQualityPortal.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls-spacelab.js")
    @Scripts.Render("~/Scripts/datepicker-popup.js")
    @Scripts.Render("~/js/app/app.js")

    <script src="~/Scripts/wijmo/wijmo.min.js"></script>
    <script src="~/Scripts/wijmo/wijmo.chart.min.js"></script>
    <script src="~/Scripts/wijmo/wijmo.grid.min.js"></script>
    <script src="~/Scripts/wijmo/wijmo.angular.min.js"></script>

    <link href="~/Content/wijmo.min.css" rel="stylesheet" />

    @RenderSection("JavascriptInHead", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                    
            </button>
            @Html.ActionLink("Code Quality Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @Html.MenuItem("Home", "Index", "Home")
                @Html.MenuItem("Churn", "Churn", "Home")
                @Html.MenuItem("Metrics", "Metrics", "Home")
                @Html.MenuItem("Systems", "Systems", "Home")
                @Html.MenuItem("LOC-CC", "Scatter", "Home")
            </ul>
        </div>    
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
