@using System.Collections
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Oops, an error occurred</h2>

<h3>More Info</h3>
<table class="table table-striped table-condensed">
    <tr>
        <td>@Html.LabelFor(m => m.ControllerName)</td>
        <td>@Html.DisplayTextFor(m => m.ControllerName)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.ActionName)</td>
        <td>@Html.DisplayTextFor(m => m.ActionName)</td>
    </tr>
    @{
        Exception exception = Model.Exception;
        while (exception != null)
        {
            <tr>
                <td>@Html.LabelFor(m => exception.Message)</td>
                <td>@Html.DisplayTextFor(m => exception.Message)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => exception.Source)</td>
                <td>@Html.DisplayTextFor(m => exception.Source)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => exception.StackTrace)</td>
                <td>@Html.DisplayTextFor(m => exception.StackTrace)</td>
            </tr>

            if (Model.Exception.Data.Count > 0)
            {
                <tr><td colspan="2" class="text-warning">Even more info</td></tr>
                foreach (DictionaryEntry item in exception.Data)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            }
            exception = exception.InnerException;
        }
    }
</table>
