@model string

<style>
    a {
        cursor: pointer;
    }

    table.files {
        margin-top: 20px;
        margin-bottom: 0;
    }

    span.lines-added {
        color: #55a532;
    }

    span.lines-deleted {
        color: #bd2c00;
    }
</style>

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/churn/criteria-controller.js")
    @Scripts.Render("~/js/app/churn/churn-controller.js")    
    @Scripts.Render("~/js/app/churn/chart-controller.js")
    @Scripts.Render("~/js/app/churn/churn-service.js")
    @Scripts.Render("~/js/app/churn/directives/lines-added.js")
    @Scripts.Render("~/js/app/churn/directives/filetable.js")
    @Scripts.Render("~/js/app/churn/directives/commit.js")
    <script type="text/javascript">
        churnModule.factory("bootstrappedData", function() {
            return {
                repoOptions: @Html.Raw(Model)
                };
        });
    </script>
}

<div ng-app="churnModule">
    <div style="margin-top:20px;" ng-controller="ChurnController">
        <form name="repoForm" class="form-inline" role="form" ng-controller="CriteriaController" ng-submit="refresh(criteria)" ng-init="init()">
            <div ng-include="'/js/app/churn/partials/criteria.html'"></div>
        </form>
                
        <div ng-include="'/js/app/churn/partials/chart.html'" ng-controller="ChartController"></div>

        <strong>{{selectedDate.date|date}}</strong>

        {{test}}

        <div ng-show="topFiles.length > 0">
            <p></p>
            <strong>Top 5 files</strong>
            <file-table files="topFiles" />
        </div>

        <p></p>

        <div ng-repeat="commit in commits">
            <commit commit="commit" />
        </div>
    </div>
</div>
