@model string

<style>
    a {
        cursor: pointer;
    }

    table.files {
        margin-top: 20px;
        margin-bottom: 0;
    }

    span.lines-added {
        color: #55a532;
    }

    span.lines-deleted {
        color: #bd2c00;
    }
</style>

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/churn/criteria-controller.js")
    @Scripts.Render("~/js/app/churn/churn-controller.js")    
    @Scripts.Render("~/js/app/churn/chart-controller.js")
    @Scripts.Render("~/js/app/churn/churn-service.js")
    @Scripts.Render("~/js/app/churn/directives/lines-added.js")
    @Scripts.Render("~/js/app/churn/directives/filetable.js")
    @Scripts.Render("~/js/app/churn/directives/commit.js")
    <script type="text/javascript">
        churnModule.factory("bootstrappedData", function() {
            return {
                repoOptions: @Html.Raw(Model)
                };
        });
    </script>
}

<div ng-app="churnModule">
    <div style="margin-top:20px;" ng-controller="ChurnController">
        <form name="repoForm" class="form-inline" role="form" ng-controller="CriteriaController" ng-submit="refresh(criteria)" ng-init="init()">
            <div ng-include="'/js/app/churn/partials/criteria.html'"></div>
        </form>
                
        <div ng-include="'/js/app/churn/partials/chart.html'" ng-controller="ChartController"></div>

        <strong>{{selectedDate.date|date}}</strong>

        {{test}}

        <div ng-show="topFiles.length > 0">
            <p></p>
            <strong>Top 5 files</strong>
            <file-table files="topFiles" />
        </div>

        <p></p>

        <div ng-repeat="commit in commits">
            @*<commit commit="commit" method="commitClick()" />*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="pull-left">
                        <img ng-if="commit.committerAvatarUrl.length != undefined" height="30px" width="20px" ng-src="{{commit.committerAvatarUrl}}" />
                        <img ng-if="commit.committerAvatarUrl == undefined" height="30px" width="20px" src="~/Content/unmapped_author.png" title="Author not mapped to Bitbucket user." />
                        {{commit.committer}}                                                
                    </div>
                    <div class="pull-right">
                        <em>Additions:</em><span class="lines-added">{{commit.linesAdded|number}}</span>&nbsp;
                        <em>Deletions:</em><span class="lines-deleted">{{commit.linesDeleted|number}}</span>&nbsp;
                        <em>Total changes:</em>{{commit.totalChurn|number}}
                        <a style="margin-left:10px;" target="_blank" ng-href="{{commit.url}}">View commit details</a>
                    </div>
                    <p class="clearfix"></p>
                </div>
                <div class="panel-body">
                    <div class="pull-left">{{commit.message}}</div>
                    <div class="pull-right">
                        <a ng-click="commitClick(commit)">
                            Files
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-up': commit.expanded, 'glyphicon-chevron-down': !commit.expanded}" aria-hidden="true"></span>
                        </a>
                    </div>
                    <p class="clearfix" />
                    <div style="margin-top:5px;">
                        <file-table files="commit.files" ng-show="commit.expanded" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
