@using CodeQualityPortal.ViewModels;
@model HomePage

<div style="margin-top: 20px" >

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-medium fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.MaintainabilityIndex</div>
                            <div>Maintanability Index</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cogs fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Model.CodeCoverage%</div>
                            <div>Code Coverage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@string.Format("{0:N0}", Model.LinesOfCode)</div>
                            <div>Lines of Code</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           

@if (Model.MemberItems.Any())
{
    <h3>Top 5 worst members for the past 7 days</h3>
    <table class="table table-stiped table-condensed files">
        <thead>
            <tr>
                <th>Module</th>
                <th>Namespace</th>
                <th>Type</th>
                <th>Member</th>
                <th>Maintainability Index</th>
                <th>Code Coverage</th>
                <th>Lines of Code</th>
                <th>Cyclomatic Complexity</th>

            </tr>
        </thead>
        @foreach(MemberSummary item in Model.MemberItems)
        { 
            <tr>
                <td>@item.Module</td>
                <td>@item.Namespace</td>
                <td>@item.Type</td>
                <td>@item.Name</td>
                <td>@item.MaintainabilityIndex</td>
                <td>@item.CodeCoverage</td>
                <td>@item.CyclomaticComplexity</td>
                <td>@Html.FormatNumber(item.LinesOfCode)</td>                
            </tr>
        }
    </table>
}

@if (Model.ChurnItems.Any())
{
    <h3 style="margin-top:75px;">Files with highest code churn for the past 7 days</h3>
    <table class="table table-stiped table-condensed files">
        <thead>
            <tr>                
                <th>File</th>
                <th>Lines Added</th>
                <th>Lines Deleted</th>
                <th>Total Churn</th>                
            </tr>
        </thead>
        @foreach (FileCodeChurn item in Model.ChurnItems)
        {
            <tr>                
                <td>@item.FileName</td>
                <td>@Html.FormatNumber(item.LinesAdded)</td>
                <td>@Html.FormatNumber(item.LinesDeleted)</td>
                <td>@Html.FormatNumber(item.TotalChurn)</td>                
            </tr>
        }
    </table>
}