@using CodeQualityPortal.ViewModels;
@model TopWorst

@if (Model.MemberItems.Any())
{
    <h3>Top 5 worst members for the past 7 days</h3>
    <table class="table table-stiped table-condensed files">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Module</th>
                <th>Namespace</th>
                <th>Type</th>
                <th>Member</th>
                <th>Maintainability Index</th>
                <th>Cyclomatic Complexity</th>
                <th>Lines of Code</th>
                <th>Class Coupling</th>                
            </tr>
        </thead>
        @foreach(MemberSummary item in Model.MemberItems)
        { 
            <tr>
                <td>@item.Tag</td>
                <td>@item.Module</td>
                <td>@item.Namespace</td>
                <td>@item.Type</td>
                <td>@item.Name</td>
                <td>@item.MaintainabilityIndex</td>
                <td>@item.CyclomaticComplexity</td>
                <td>@Html.FormatNumber(item.LinesOfCode)</td>
                <td>@item.ClassCoupling</td>                
            </tr>
        }
    </table>
}

@if (Model.ChurnItems.Any())
{
    <h3 style="margin-top:75px;">Files with highest code churn for the past 7 days</h3>
    <table class="table table-stiped table-condensed files">
        <thead>
            <tr>
                <th>Date</th>
                <th>File</th>
                <th>Lines Added</th>
                <th>Lines Deleted</th>
                <th>Total Churn</th>                
            </tr>
        </thead>
        @foreach (FileChurnSummary item in Model.ChurnItems)
        {
            <tr>
                <td>@Html.FormatDate(item.Date)</td>
                <td>@item.FileName</td>
                <td>@Html.FormatNumber(item.LinesAdded)</td>
                <td>@Html.FormatNumber(item.LinesDeleted)</td>
                <td>@Html.FormatNumber(item.LinesDeleted)</td>                
            </tr>
        }
    </table>
}