@model string

<style>
    div.series > span {
        margin-left: 5px;
        margin-right: 50px;
        font-weight: bold;
    }
</style>

@section JavascriptInHead
{
    @Scripts.Render("~/js/app/metrics/chart-controller.js")
    @Scripts.Render("~/js/app/metrics/criteria-controller.js")
    @Scripts.Render("~/js/app/metrics/metrics-controller.js")
    @Scripts.Render("~/js/app/metrics/metrics-service.js")
    <script type="text/javascript">
        metricsModule.factory("bootstrappedData", function() {
            return {
                tagOptions: @Html.Raw(Model)
                };
        });
    </script>
}

<div style="margin-top:20px;" ng-app="metricsModule" ng-controller="MetricsController">
    <div ng-include="'/js/app/metrics/partials/criteria.html'" ng-controller="CriteriaController" ng-init="init()"></div>

    <h3>Target trend for {{criteria.tag}}</h3>
    <div ng-include="'/js/app/metrics/partials/chart.html'" ng-controller="ChartController"></div>
    
    <h3 ng-show="criteria.selectedDate">Modules on {{criteria.selectedDate.date | date}}</h3>
    <div ng-include="'/js/app/metrics/partials/grid.html'"></div>
</div>
